<mat-card class="p-0" [@animate]="{value:'*',params:{y:'50px',delay:'300ms'}}">
    <div class="m-333">
        <button mat-raised-button class="mb-8" color="primary" (click)="openPopUp({}, true)" style="margin-right: 1%;"><mat-icon>add</mat-icon></button>      
        <mat-form-field class="margin-333" style="width: 50%;float: right;">
          <input 
          matInput 
          placeholder="Filtrar" 
          value=""
          (keyup)='updateFilter($event)'>
        </mat-form-field>
      </div>        
      <div style="clear: both;"></div>
      <mat-card-content class="p-0">
        <ngx-datatable      
            class="material ml-0 mr-0"
            [rows]="items"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"            
            [limit]="10"
            [treeToRelation]="'idCategoria'"
            [treeFromRelation]="'idCategoriaPadre'"
            (treeAction)="onTreeAction($event)"
            [rowHeight]="50">
            <ngx-datatable-column name="ID" [flexGrow]="3" [isTreeColumn]="true">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.idCategoria }}
            </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Nombre" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.nombre }}
            </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Descripcion" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.descripcion }}
            </ng-template>
            </ngx-datatable-column>            
            <ngx-datatable-column name="Acciones" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button mat-icon-button mat-sm-button color="primary" class="mr-16" (click)="openPopUp(row)"><mat-icon>edit</mat-icon></button>                
                <button mat-icon-button mat-sm-button color="warn" (click)="deleteItem(row)"><mat-icon>delete</mat-icon></button>
            </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>   
      </mat-card-content>
</mat-card>