<div class="product-details-wrap m-333" fxLayout="row wrap" fxLayout.lt-md="column">
    <div fxLayout="row" fxFlex="100" class="mb-8">
      <button mat-icon-button class="text-muted" routerLink="/distribuidorarf/products"><mat-icon>chevron_left</mat-icon> <span >Back to Shop</span></button>
      <span fxFlex></span>
      <span fxFlex="20px"></span>
      <!-- <button mat-raised-button color="primary" routerLink="/shop/cart">
        <mat-icon>shopping_cart</mat-icon> Cart ({{cartData?.itemCount}})</button> -->
    </div>
    <div fxFlex.lt-md="auto" fxFlex="50" class="product-photos-wrap">
        <input type="file" ng2FileSelect [uploader]="uploader" style="margin-bottom: 2%;"/>        
        <div class="mb-16" style="margin-right: 1%;">
            <div ng2FileDrop
            [ngClass]="{'dz-file-over': hasBaseDropZoneOver}"
            (fileOver)="fileOverBase($event)"
            [uploader]="uploader"
            class="fileupload-drop-zone mb-24">
                Drop file here
            </div>
        </div>
        <table class="default-table mat-box-shadow mb-24" style="width: 99%;">
            <thead>
            <tr>
                <th width="30%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody *ngIf="uploader.queue.length; else tableNoData">
            <tr *ngFor="let item of uploader.queue">
                <td>{{ item?.file?.name }}</td>
                <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td>
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        <mat-progress-bar
                          class=""
                          color="primary"
                          mode="determinate"
                          [value]="item.progress">
                        </mat-progress-bar>
                    </div>
                </td>
                <td class="">
                    <mat-icon *ngIf="item.isSuccess" color="primary">check</mat-icon>
                    <mat-icon *ngIf="item.isCancel" color="accent">cancel</mat-icon>
                    <mat-icon *ngIf="item.isError" color="warn">error</mat-icon>
                </td>
                <td nowrap>
                    <button 
                    mat-raised-button
                    color="primary"
                    class="mx-4"
                    (click)="item.upload()"
                    [disabled]="item.isReady || item.isUploading || item.isSuccess">Upload</button>
                    <button 
                    mat-raised-button
                    color="accent"
                    class="mx-4"
                    (click)="item.cancel()"
                    [disabled]="!item.isUploading">Cancel</button>
    
                    <button 
                    mat-raised-button
                    color="warn"
                    class="mx-4"
                    (click)="item.remove()">Remove</button>
                </td>
            </tr>
            </tbody>
            <ng-template #tableNoData>
              <p [ngStyle]="{padding: '0 1.2rem'}">Queue is empty</p>
            </ng-template>
          </table>
      <div class="gallery-thumbnails" [@animate]="{value:'*',params:{delay: '100ms', x:'-100px'}}">
        <img class="mat-elevation-z1" [ngClass]="{'active': image.state === '1'}" *ngFor="let image of photoGallery" [src]="image.url"
          (click)="changeState(image)">
      </div>
      <div class="gallery-photo" [@animate]="{value:'*',params:{delay: '100ms', y:'50px'}}">
        <img class="mat-elevation-z2" *ngFor="let image of photoGallery" [src]="image.url" alt="" [@fadeInOut]="image.state">
      </div>      
    </div>
  
    <div fxFlex="50" class="product-content-wrap" [@animate]="{value:'*',params:{delay: '100ms', x:'50px'}}">
      <div class="product-rating" *ngIf="product?.ratings?.rating">
        <star-rating [rating]="product?.ratings?.rating" [starType]="'svg'" [readOnly]="true" [size]="'medium'" [staticColor]="'ok'">
        </star-rating>
        <small class="text-muted">{{product?.ratings?.rating}} ({{product?.ratings?.ratingCount}})</small>
      </div>
      <h1 class="title">{{product?.name}}</h1>
      <div class="main-info mb-16">
        <p class="mb-8" [ngStyle]="{maxWidth: '450px'}">{{product?.description}}
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="{{'IDENTIFICACION' | translate}}" formControlName="identificacion" required type="text" value="">
            </mat-form-field>            
        </p>
        <p class="text-muted p-line"><strong>Category:</strong> 
            <!-- <span class="mat-color-default">{{product?.category}}</span> -->
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="{{'IDENTIFICACION' | translate}}" formControlName="identificacion" required type="text" value="">
            </mat-form-field>            
        </p>
        <p class="text-muted p-line"><strong>Tags:</strong> <span *ngFor="let t of product.tags"><span class="mat-color-default">{{t}}</span> </span></p>
      </div>
      <div class="product-options">
        <div class="opt-radio mb-16">
          <label class="option-label text-muted">Choose an option: </label>
          <mat-radio-group fxLayout="column" fxLayoutGap="5px">
            <!-- <mat-radio-button  [value]="'opt1'">Option 1</mat-radio-button>
            <mat-radio-button  [value]="'opt2'">Option 2</mat-radio-button>
            <mat-radio-button  [value]="'opt3'">Option 3</mat-radio-button> -->
          </mat-radio-group>
        </div>
        <div class="opt-quantity mb-16">
          <label class="option-label text-muted" for="quantity">Quantity: </label>
          <input class="quantity-input default-bg" id="quantity" name="quantity" type="number" [(ngModel)]="quantity">
        </div>
      </div>
      <div fxLayout="row">
        <button mat-raised-button color="accent" (click)="addToCart()"><mat-icon>add_shopping_cart</mat-icon> Add to Cart</button>
        <span fxFlex="8px"></span>
        <button mat-raised-button color="primary" routerLink="/shop"><mat-icon>chevron_left</mat-icon> Back to Shop</button>
      </div>
    </div>
  </div>