<h1 matDialogTitle>{{data.title}} <span class="material-icons colorGray" style="float: right;" (click)="retiroTemporal()" #iconoTemporalElement>timer</span></h1>
<h3 style="color: darkblue;">{{mensaje}}</h3>
<form [formGroup]="itemForm" (ngSubmit)="submit()">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">     
        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-16">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="Autorización" formControlName="autorizacionEmpleado" type="password">
            </mat-form-field>                      
        </div>   
        <div fxFlex="100" fxFlex.gt-xs="50" class="pr-16 invisible" #fechaReingresoElement>
            <mat-form-field class="full-width">                
                <input 
                matInput
                name="fecha"
                formControlName="fecha"
                placeholder="Fecha de Re-Ingreso" 
                [matDatepicker]="appDatepicker"                  
                >
                
            <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #appDatepicker></mat-datepicker>                
        </div>
        <div fxFlex="33"  class="pr-16">            
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Código" formControlName="idProducto">
            </mat-form-field>
        </div>
        <div fxFlex="33"  class="pr-16">            
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Producto" formControlName="nombreProducto">
            </mat-form-field>
        </div>
        <div fxFlex="33"  class="pr-16">            
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Cantidad en inventario" formControlName="cantidadDetalle">
            </mat-form-field>
        </div>
        <div fxFlex="50"  class="pr-16">
            <mat-form-field style="width: 100%;">
                <mat-select placeholder="Detalle *" name="detalle" [(ngModel)]="idDetalle" [ngModelOptions]="{standalone: true}" #miDetalle (ngModelChange)="cambiaDetalle()">
                    <mat-option value="-1">Selecione un detalle</mat-option>
                    <mat-option *ngFor="let detalle of data.payload.detalles" [value]="detalle.idDetalleProducto">
                    {{ detalle.idDetalleProducto }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div> 
        <div fxFlex="50"  class="pr-16">
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Cantidad *" formControlName="cantidad" type="number" [min]="1" [max]="maxCant">
            </mat-form-field>
        </div>
        <div fxFlex="100"  class="pr-16">
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Concepto *" formControlName="concepto">
            </mat-form-field>
        </div>
        <div fxFlex="100" class="mt-16">
            <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancelar</button>
            <span fxFlex></span>
            <button mat-raised-button color="primary" [disabled]="itemForm.invalid">Guardar</button>            
        </div>
    </div>    
</form>

