<h1 matDialogTitle>{{data.title}}</h1>
<form [formGroup]="itemForm" (ngSubmit)="submit()">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="100"  class="pr-16">
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Filtrar" formControlName="codigo" (keyup)='updateFilter($event)' onkeyup="this.value = this.value.toUpperCase();">
            </mat-form-field>
        </div>
        <div fxFlex="100"  class="pr-16">
            <div class="mat-box-shadow margin-333">
                <ngx-datatable class="material bg-white"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="50"
                [limit]="8"
                [rows]="rows"
                [columns]="columns"
                [selected]="selected"
                [selectionType]="SelectionType.single"
                (select)="onSelect($event)">
                </ngx-datatable>
            </div>
        </div>
        <div fxFlex="100" class="mt-16">
            <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancelar</button>
            <span fxFlex></span>
            <button mat-raised-button color="primary">Seleccionar</button>
        </div>
    </div>
</form>